*.swp
installed.txt
app/tmp/
app/config/bootstrap.local.php
app/config/guard.php
app/config/database.php
app/config/config.local.php
app/webroot/apc.php
dist
build/api/
build/code-browser/
build/logs/
build/pdepend/
cache.properties
lint.cache
tags
.project
.vagrant
vendor/
.idea
.data
.DS_Store
docker-compose.override.yml