language: php
php:
  - '5.3'
  - '5.4'
  - '5.5'
  - '5.6'

env:
  - SERVER_TEST=http://localhost

services:
  - mysql

install:
  - composer install

before_script:
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # install oauth extension
  - pecl install -f oauth-1.2.3
  # enable php-fpm
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)/app/webroot?g" --in-place /etc/apache2/sites-available/default
  - sudo service apache2 restart
  # setup mysql
  - mysql -e "create database IF NOT EXISTS ipeer_test;" -uroot
  - sed -e "s?'login' => 'ipeer'?'login' => 'root'?g" --in-place $TRAVIS_BUILD_DIR/app/config/database.php.default
  - sed -e "s?'password' => 'ipeer'?'password' => ''?g" --in-place $TRAVIS_BUILD_DIR/app/config/database.php.default

script: vendor/bin/phing build-ci

deploy:
  provider: releases
  skip_cleanup: true
  on:
    tags: true
    php: 5.3
