services:
  db:
    image: mariadb:10.11
    environment:
      - MYSQL_ROOT_PASSWORD=randompassword
      - MYSQL_DATABASE=ipeer
      - MYSQL_USER=ipeer
      - MYSQL_PASSWORD=ipeer
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - mysqlDbData:/var/lib/mysql
    ports:
      - "13306:3306"
  adminer:
    image: adminer:latest
    ports:
      - 8060:8080
    depends_on:
      - db

  app-oneloginsaml:
    image: ubcctlt/ipeer-oneloginsaml
    build:
      context: docker/oneloginsaml
    volumes:
      - .:/var/www/html
    ports:
      - "8090:80"

  app: &app
    image: ubcctlt/ipeer-app
    build:
      context: .
    volumes:
      - .:/var/www/html
      - appTmp:/var/www/html/app/tmp
    environment:
      - IPEER_DB_HOST=db
      - IPEER_DB_USER=ipeer
      - IPEER_DB_PASSWORD=ipeer
      - IPEER_DEBUG=2
      - IPEER_SESSION_SAVE=database
      # uncomment to test Caliper
      # - CALIPER_HOST=https://caliper.imsglobal.org/caliper/44c6173f-907f-40c5-8c93-a1acfaa6485c/message
      # - CALIPER_API_KEY=44c6173f-907f-40c5-8c93-a1acfaa6485c
      # - CALIPER_BASE_URL=http://localhost.test.com/
      # - CALIPER_ACTOR_BASE_URL=http://www.ubc.ca/%s
      # - CALIPER_ACTOR_UNIQUE_IDENTIFIER_PARAM=username
      #- IPEER_AUTH=Ldap
      #- IPEER_AUTH_LDAP_host=ldap.example.com
      #- IPEER_AUTH_LDAP_port=636
      # uncomment or use docker-compose override to enable xdebug remote debugging
      #- PHP_IDE_CONFIG=serverName=docker
      #- XDEBUG_MODE=debug
      #- XDEBUG_SESSION=PHPSTORM
      #- XDEBUG_CONFIG=client_host=host.docker.internal client_port=9000 log=/tmp/xdebug.log
    depends_on:
      - db
  worker: &worker
    <<: *app
    command: bash -c "sleep 5 && cake/console/cake worker run"
    volumes: []
  web:
    image: nginx:1.27-alpine
    volumes:
      - ./app/webroot:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - app

  # for running unit tests
  # app-unittest:
  #   image: ubcctlt/ipeer-app-unittest
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-app-unittest
  #   volumes:
  #     - .:/var/www/html
  #   environment:
  #     - IPEER_DB_HOST=db
  #     - IPEER_DB_USER=ipeer
  #     - IPEER_DB_PASSWORD=ipeer
  #     - IPEER_DB_NAME=ipeer_test
  #     - IPEER_DEBUG=2
  #     - IPEER_SESSION_SAVE=database
  #     - SELENIUM_HOST=selenium-local
  #     - SELENIUM_BROWSER=chrome
  #     #- SELENIUM_BROWSER=firefox
  #     - SERVER_TEST=http://ipeer_web_unittest
  #     #- IPEER_AUTH=Ldap
  #     #- IPEER_AUTH_LDAP_host=ldap.example.com
  #     #- IPEER_AUTH_LDAP_port=636
  #   depends_on:
  #     - db
  # for running unit tests
  # web-unittest:
  #   image: nginx:1.19-alpine
  #   volumes:
  #     - ./app/webroot:/var/www/html
  #     - ./docker/nginx-unittest.conf:/etc/nginx/conf.d/default.conf
  #   ports:
  #     - "8081:80"
  #   depends_on:
  #     - app-unittest

volumes:
  mysqlDbData:
  appTmp:
