html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* html5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start iPeer CSS */

/* GLOBAL */
body {
    font-family: 'Lato', serif; /* provided by Google Web Fonts */
    background-image: url(bg.gif);
}

/* Open Sans to enable font-weight: 600 */
h1,h2,h3,h4,h5,h6,th {
    font-family: 'Open Sans', serif; /* provided by Google Web Fonts */
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.alignright {
    text-align: right;
}

.pagewidth {
    /* 780px is Wide enough for someone with a 800px device to 
     * view the whole app without horizontal scrolling. I assume
     * most people's computers are at least 1024x768. However
     * many smartphones have at least a 800x480 display now,
     * so we shouldn't use a higher min width.
     * */
    min-width: 780px; 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

.hide {
    display: none;
}


/* Input labels and boxes
 * This section is only for styles that apply to ALL
 * inputs. View specific styles should be added to
 * their appropriate sections, particularly, the
 * width of the text boxes.
 * */
.text {
    margin: 0 auto;
    width: 100%;
}

.text label, .password label, .textarea label, .select label, .checkbox label, .datetime label, .date label, .radio legend, .penaltyLabel, .file label
{
    float: left;
    text-align: right;
    clear: left;
    padding: 0 1em 0 0;
    width: 13em;
}

.text input, .password input, .textarea textarea, .select select, 
.datetime select, .date select, .penaltyInput input, .file input
{   
    margin: 0.35em 0.35em; 
    border-radius: 3px; 
    border: 1px solid #999;
    clear: right;
    padding: 0.3em 0.5em;
}

.radio input
{
    margin: 0.5em 0.5em 0.5em 1em;
}

.submit input {
    margin: 0 auto;
    margin-top: 1em;
    min-width: 6em;
    height: 2em;
    font-weight: 600;
    display: block;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    margin: 0 auto;
}

strong {
    font-weight: 600;
}

.standardtable {
    width: 100%;
}

.standardtable th {
    padding: 0.4em 0.1em;
    background-color: khaki;
    font-weight: 600;
    font-size: 0.95em;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.standardtable td {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0.4em 0.1em;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

.standardtable #details td {
    background-color: #F1F1F1;
}

.standardtable table td {
    border: none;
}

.leftalignedtable th, .leftalignedtable td {
    padding: 0.4em;
    text-align: left;
}

/* css for timepicker */
div.ui-datepicker { font-size: 0.85em; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background:none; border: none; margin: 0; padding: 0; }

/* BANNER */
.banner {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f4f4f4;
}

#bannerLarge {
    height: 98px;
    background-image: url('../img/layout/banner_back_noborder.gif');
    background-repeat: repeat-x;
}

#bannerLogoImgLeft {
    padding-left: 1.5em;
}

#bannerLogoImgRight {
    padding-right: 1.5em;
}

#bannerLogoText {
    padding-top: 50px; 
    font-size: 1em; 
    font-weight: 600; color: white;
    text-shadow: 0 0 7px #222
}

/* NAVIGATION */
#navigationOuter {
    border: 1px solid #ddd;
    border-top: none;
}

.navigation ul {
    padding: 0.5em 0; /* needed to expand the div, keep a from overflowing the ul */
    background-color: #0a2a64;
}

.navigation li {
    display: inline;
    list-style: none;
    text-align: center;
}

.navigation a {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
    padding-left: 0.6em;
    text-decoration: none;
}

.navigation a:hover,a:active {
    background-color: yellow;
    color: #111;
}

.navigation #current a {
    color: #111;
    background-color: gold;
}

.navigation .miniLinks {
    font-family: 'Open Sans', serif;
    font-size: 0.8em;
    border: none;
    margin-right: 0.5em;
    padding: 0.5em 1em;
}

/* CONTENT CONTAINER */
.containerOuter {
    border-radius: 10px; 
    border: 1px solid #777;
    padding: 0.4em; 
    background: white;
    box-shadow: 0 0 5px #555;
}

.message, .error-message {
    margin-top: 0.5em;
    margin-bottom: 1em;
    clear: left;
    padding: 0.7em;
    font-weight: 600;
    text-align: center;
}

.good-message {
    border: 2px solid green;
}

/* authMessage is only used for cake generated login errors. */
#flashMessage, #authMessage, .error-message {
    color: #990044;
    border: 2px solid #990044;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orangered {
    color: orangered;
}

h1.title {
    margin: 0.5em 0;
    font-weight: 600;
    background: #eee;
    border: 1px solid #ddd;
    padding: 0.3em 0.5em;
}

h2 {
    margin: 1em 0;
    font-size: 1.3em;
    font-weight: 600;
}

h3 {
    margin: 1em 0;
    font-weight: 600;
}

h4 {
    margin: 0.5em 0;
}

i {
    font-style: italic;
}

/* FOOTER */
#footer {
    font-size: 0.72em;
    padding-top: 0.5em;
    color: #333;
    text-align: center;
}

/* DEBUG */
#debugsection {
    margin: 2em;
    font-size: 0.8em;
}

#debugsection h5 {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 600;
    background-color: #ccff99;
}

#debugsection pre {
    padding: 0.5em;
}

#debugsection table {
    width: 100%;
}

/* LOGIN BOX */
.login {
    width: 20em;
    margin: 1em auto;
    border: 1px solid crimson;
}

.login h4 {
    background-color: crimson; 
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: 600;
}

.login .text label, .login .password label {
    width: 20%;
}

.login .text input, .login .password input {
    width: 60%;
}

.login form {
    padding: 1em;
    padding-right: 0;
}

/* HOME */
/* for admins and instructors */
.course {
    margin-bottom: 1em;
    background-color: lightgoldenrodyellow;
}

.course h3 {
    background-color: khaki;
    padding: 0.5em;
}

.course a:link h3, .course a:visited h3 {
    color: black;
}

.course h4 {
    padding: 0.5em;
}

.course h4 ul {
    display: inline;
}

.course h4 li {
    display: inline;
    padding-right: 1em;
}

.course table {
    margin: 0.5em;
    width: 100%;
}

.course th {
    width: 33%;
    text-align: left;
    font-weight: 600;
    padding: 0.5em;
}

.course td {
    padding: 0.5em;
}

.course img {
    padding-right: 0.5em;
}

.toggle {
    font-size: 0.8em;
}

#short_help h5 {
    font-weight: 600;
    padding: 0.5em;
}

#short_help {
    font-size: 0.8em;
}

#short_help ol {
    list-style-type: decimal;
    margin-left: 0;
    padding-left: 3em;
    padding-bottom: 0.5em;
}

#short_help li {
    padding-bottom: 0.5em;
}

/* student home */

#StudentHome .eventSummary {
    text-align: center;
    padding: 0.3em;
    margin-bottom: 0.1em;
}

#StudentHome .overdue {
    background: lightcoral;
}

#StudentHome .pending {
    background: lightsalmon;
}

#StudentHome .alldone {
    background: lightgreen;
}

/* Emailtemplate Form settings */

/* view */

#EmailtemplateViewForm .text input { 
    width: 21em;
}

#EmailtemplateViewForm .textarea textarea { 
    width: 21.5em;
}

#EmailtemplateViewForm .radio input { 
    margin: 0.65em;
}

#EmailtemplateViewForm .submit {
    width: 10em;
    margin: 1em auto;
}

#EmailtemplateViewForm fieldset {
    clear: both;
}

/* add and edit */

#EmailtemplateAddForm .radio fieldset {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    clear: both;
}

/* makes the text boxes bigger */
#EmailtemplateAddForm .text input { 
    width: 21em;
}


#EmailtemplateAddForm .textarea textarea { 
    width: 21.5em;
}

#EmailtemplateEditForm fieldset {
    clear: both;
}

/* Emailer write */

#EmailerWrite td {
    text-align: left;
}

/* edit profile - Oauth section */

.oauth {
    margin: 0.5em;
}

.oauth p{
    padding-bottom: 0em;
}

.oauth label, .oauth img,
.oauth #add{
    display: inline-block;
}

.oauth #key {
    width: 14em;
}

.oauth #secret {
    margin-left: 2em;
    width: 20em;
}

.oauth select {
    margin-left: 3.5em;
}

.oauth #delete {
    margin-left: 2em;
}

.oauth #add, .oauth #comment{
    margin-bottom: 1em;
}

/* oauthClients add form */

.oauthClients form label {
    margin-top: 0.25em;
}

/* oauthTokens add form */

.oauthTokens form label {
    margin-top: 0.25em;
}


/* POPUP */


#pop_container {
    width: 95%;
    margin: 0.5em auto;
}

#pop_container table {
    width: 100%;
    margin-top: 0.5em;
}

#pop_container h1 {
    text-align: center;
}

#bannerSmall {
    background-image: url(small_header_back.gif);
    background-repeat: repeat-x;
}

#bannerSmall img {
    display: block;
    margin: 0 auto;
}

/* COURSE */

.course_actions {
    margin-bottom: 0.5em;
}

.course_submenu {
    margin: 1em 0;
    width: 49.6%;
    vertical-align: top;
    display: inline-block;
}

.course_submenu h3 {
    background-color: #EAEAEA;
    color: #0A2C64;
    font-weight: 600;
    padding: 0.5em;
}

.course_submenu ul {
    background-color: white;
}

.course_submenu li {
    padding-left: 2em;
    margin-top: 1em;
    background-image: url("../img/layout/yellow_arrow.gif");
    background-repeat: no-repeat;
    background-position: 0.5em;
}

/* USERS */

/* users/add users/edit */
#UserForm .text label {
    width: 13em;
    margin-top: 0.3em;
}

#UserForm .select label {
    width: 13em;
    margin-top: 0.5em;
}

#UserForm .checkbox {
    vertical-align: middle;
    margin-top: 0.5em;
    margin-left: 3em;
}

#UserForm #usernameErr {
    margin-left: 14em;
}

#UserForm select {
    width: 15em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    background: transparent;
    font-size: 1em;
}

#UserForm select#FacultyFaculty {
    height: 10em;
    width: 23em;
}

#UserForm .select .checkbox {
    margin-left: 14em;
}

#UserForm .select .checkbox label {
    width: 30em;
    text-align: left;
}

#UserForm .select .checkbox input {
    margin-right: 0.5em;
}

#UserForm .text input {
    width: 21em;
}

#UserForm #email {
    margin: 0 0.5em 1em 16em;
    float: none;
}

#UserForm .submit input{
    width: 12em;
    margin: 2em;
}

#UserForm .submit {
    clear: both;
    display: inline-block;
}

#UserForm .email.required {
    clear: both;
    margin-left: 14em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#UserForm .email.required label {
    margin-left: 0.5em;
}

#UserForm .input.select {
    margin-bottom: 1em;
}

#UserForm .buttons {
    margin-left: 14em;
}

/* users/goToClassList/ */

.userActionPanel {
    width: 100%;
    background-color: wheat;
    padding: 0.2em 0;
    margin: 0;
}
.userActionPanel ul {
    text-align: center;
    width: 100%;
}
.userActionPanel li {
    padding: 0 1em;
    text-align: center;
    display: inline;
    list-style: none;
}

/* users/view */

.userViewTable {
    width: 100%;
}

/* users/import */

#UserImport ul li {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0.5em;
}

#UserImport .file input {
    width: 25em;
}

/* Courses */

/* courses/add, courses/edit */

#CourseAddForm .text label, #CourseAddForm .select label, 
#CourseEditForm .text label, #CourseEditForm .select label {
    width: 13em;
}

#CourseAddForm .text input, #CourseEditForm .text input {
    width: 21em;
    text-align: left;
}

#CourseAddForm .select #InstructorInstructor, #CourseEditForm .select #InstructorInstructor {
    height: 10em;
    width: 20em;
}

#CourseAddForm .input input, #CourseEditForm .input input{
    margin-right: 10em;
    position: relative;
    width: 30em;
}

#CourseAddForm .submit, #CourseEditForm .submit {
    width: 10em;
    margin: 1em auto;
}

/* PAGES/ADMIN */

.adminpage ul {
    margin: 1em;
}
.adminpage li {
    list-style: circle inside;
    margin: 0.5em;
}

/* EVENTS */

/* events/add */

.penaltyInput {
    display: block;
}

.penaltyInLabel {
    margin-left: 0.5em;
    margin-right: 1em;
}

.penaltyInput input {
    width: 2em;
}

.addPenaltyButton {
    display: block;
    margin-left: 19em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 10em;
}

/* events/edit */

#Events fieldset, #Events .submit {
    clear: both;
}

#Events .select {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#Events .text label, #Events .password label, 
#Events .textarea label, #Events .select label, 
#Events .datetime label, #Events .radio legend, 
#Events .penaltyLabel{
    width: 18em;
}

#Events .courseLabel{
    display: inline-block;
    text-align: right;
    width: 18em;
    margin-bottom: 0.5em;
}

#Events .course {
    margin-left: 1em;
    background-color: white;
}

#Events label {
    margin-top: 0.25em;
}


/* Survey Results */

#SurveyResults ol {
    list-style-type: lower-alpha;
    margin-left: 8.5em;
}

#SurveyResults ul {
    list-style-type: circle;
    margin-left: 8em;
}

#SurveyResults p {
    margin-left: 7em;
}

#SurveyResults pre {
    margin-left: 7em;
}

#SurveyResults h3 {
    margin-left: 3.5em;
}

#SurveyResults .noanswer {
    font-style: italic;
}

/* ajax pagination */

.ajax_paginate {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	/*margin: 0 3px;*/
	cursor: pointer;
	color: #333 !important;
	background-color: #DDD;
}

.selected_number{
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	/*margin: 0 3px;*/
	cursor: pointer;
	color: #333 !important;
    background-color: #99B3FF;
}

.ajax_paginate:hover {
    background-color: #ccc;
    text-decoration: none;
}

#ajaxListDiv {
    font-size: 0.9em;
}

#ajaxListDiv .timestamp {
    font-size: 0.8em;
    text-align: left; 
    width: 33%;
}

#ajaxListDiv .total-result {
    text-align: center;  
    width: 33%; 
    font-weight: 600; 
    font-size: 100%
}

/* EVALTOOLS */

.evaltoolsnav {
    margin-top: 1em;
}

.evaltoolsnav ul {
    padding-bottom: 1em;
}

.evaltoolsnav li {
    display: inline;
    list-style: none;
    border-left: 1px solid white;
}

.evaltoolsnav a {
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    background-color: #0A2C64;
    text-decoration: none;
    padding: 0.5em;
}

.evaltoolsnav a:hover {
    background-color: yellow;
    color: #111;
}

.evaltoolsnav .current a {
    background-color: gold;
    color: #111;
}

.evaltool-section-header h2{
    float: left;
}

.evaltoolsadd {
    float: right;
    padding: 1.7em 0 0 0;
}

.evaltoolsadd a {
    margin-right: 1em;
    font-size: 0.9em;
}

/* SURVEYS */

/* surveys/view */
.surveyquestions .prompt {
    margin: 2em 1em 1em 1em;
}

.surveyquestions  .checkbox input, .surveyquestions input[type="radio"]  {
    margin: 0.5em;
    margin-left: 3em;
}

.surveyquestions .checkbox label {
    padding: 0 0 0 0.5em;
    float: none;
}

.surveyquestions input[type="text"] {
    width: 40em;
    margin-left: 3em;
}

.surveyquestions textarea {
    width: 40em;
    height: 10em;
    margin-left: 3em;
}

/* GROUPS */

/* groups/import */

.groupsimport .csvexample {
    border: 1px solid black;
    background: white;
    padding: 1em;
    margin: 1em;
}

/* TO BE REFACTORED LATER */

/* TEMPORARY */

.tableheader {
    font-weight: 600;
    color: #FFFFFF;
    background-color: #4478AC;
}

.tableheader td, .tableheader th {
    padding: 0.3em;
}

.tablesubheader td {
    padding: 0.3em;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #3E83B6;
}

.tablesummary {
    font-weight: 600;
    color: #000000;
    background-color: #99cc99;
}

.tableheader a:link, .tableheader a:visited {
    color: white;
}

.tableheader2 {
    font-weight: 600;
    color: #000;
    background-color: #C0C0C0;
}

.searchtable1 {
    font-weight: 600;
    color: #000000;
    background-color: #cc9933;
}

.searchtable2 {
    font-weight: 600;
    color: #000000;
    background-color: #cccc00;
}

.searchtable3 {
    font-weight: 600;
    color: #000000;
    background-color: #99cc99;
}

.tablecell {
    color: #000000;
    background-color: #EAEAEA;
}

.tablecell td {
    padding: 0.4em;
}

.tablecell:hover {
    background-color: #C7D0E7;
}
.tablecell2 {
    color: #000000;
}

.panelheader{
    border : 5px solid khaki;
    background-color : khaki;
    color : #666666;
}

.mdHover {
    border : 5px solid #C7D0E7;
    background-color : #C7D0E7;
    color : #FA7E04;
}
.mdClicked {
    border : 5px solid #C7D0E7;
    background-color : #C7D0E7;
    color : #FA7E04;
}
.mdSelected {
    border : 5px solid khaki;
    background-color : khaki;
    color : #000000;
}
.panelContent {
    border : 5px solid white;
    border-top-width    : 0px;
    border-bottom-width : 0px;
    background-color: white;
    font-weight:normal;
    font-size: 0.9em;
}
.panelContent img {
    vertical-align: middle;
}
#accordion {
    border-bottom : 1px solid #24588C;
    margin-top : 6px;
    font-weight:600;
}

/* Home styles */


.button-row {
    margin: 0.5em 0 0.5em 0;
}

.button-row ul {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
    text-align: right;
}

.button-row li {
    display: inline;
    margin: 0 0 0 1em;
    padding: 0;
}

/* No clue what these does */

table.form-table {
    width: 100%;
    border-width: 0;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 2em 0 0 0;
}

table.form-table td {
    border-width: 0;
    padding: 4px;
}

table.list-table {
    width: 100%;
    border-width: 0;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 2em 0 0 0;
}

table.list-table td {
    border-width: 0;
    padding: 2px;
}

table.content-table {
    width: 95%;
    border-width: 0;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 0 auto 0 auto;
}


.add-button {
    background:url('/img/icons/add.gif') center left no-repeat;
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.delete-button {
    background:url('/img/icons/delete.gif') center left no-repeat;
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.edit-button {
    background:url('/img/icons/edit.gif') center left no-repeat;
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.export-excel-button {
    background:url('/img/icons/export_excel.gif') center left no-repeat;
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.instruction-icon {
    background:url('/img/icons/instructions.gif') center left no-repeat;
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.button {
    padding: 0 0 0 20px;
    white-space:nowrap;
    font-size: 0.9em;
}

.question {
    margin: 0.8em 0 0.8em 0;
    overflow: visible;
    position: relative;
}

.question-tab {
    float: left;
    color: white;
    border: 0px solid red;
    background-color: #4478AC;
    text-align: center;
    cursor: move;
    padding: 0.6em 0.3em;
}

.question-content {
    background-color: #EAEAEA;
    height: 100%;
    padding: 0 0 0 35px;
}

.question-content table {
    width: 100%;
    height: 100%;
}

.multiplier {
    margin-left: 0.5em;
    display: inline;
}

.remove-button {
    position: absolute;
    top: 3px;
    right: 3px;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

textarea.question-title-textarea, textarea.question-descriptor {
    width: 100%;
    height: 4em; 
}

.question-title {
    width: 97%;
}

.question-instruction-textarea {
    width: 97%;
}

.descriptor-title {
    margin: 0.5em 0;
    width: 150px;
    display: inline-block;
}

.descriptors {
    overflow: auto;
    height: auto;
    white-space: nowrap;
}

.descriptor {
    width: 150px;
    display: inline-block;
    white-space: normal;
    margin: 0 10px 0 0;
}

.scale-weight {
    float: right;
    text-align: right;
    margin: 0.3em 0;
    margin-right: 15px;
}

.scale-weight select {
    margin-left: 0.5em;
}

.remove-descriptor-button {
    float: right;
}

.text-button {
    cursor: pointer;
}

#summary {
    text-align: right;
    background-color: #EAEAEA;
}

#summary #total {
    width: 30px;
}

#controls {
    text-align: right;
}

/* evaluation result tables */

.result-header-td {
    vertical-align: middle;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #4478AC;
    font-size: 0.9em;
    height: 40px;
    padding: 0em;
}

.inner-table-cell {
    padding: 0em;
}

.group-members {
    height: 40px;
}

.total-cell {
    height: 40px;
    width: 250px;
}

.result-cell {
    height: 40px;
    width: 200px;
    padding: 0em;
}

.inner-table {
    width: 100%;
    margin-top: 0em;
    table-layout: fixed;
}

.outer-table {
    table-layout: fixed;
}

.scrollbar {
    overflow-x: auto;
    overflow-y: hidden;
}

table.full-size {
    width: 100%;
    border: 0px;
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 2em;
}

table.event-detail {
}

.event-summary div.incompleted {
    color: red;
    margin: 1em 0 1em 1em;
    font-size: 0.9em;
}

.event-summary div.incompleted ul {
    margin: 20px;
}

.event-summary div.incompleted li {
    list-style-type: square; 
    padding: 0.2em;
}

ul.instructions {
    margin: 1em 0 1em 2em;
}

ul.instructions li {
    list-style-type: square; 
    padding: 0.2em;
}

table.event-view {
    border-collapse:collapse;
}

table.event-view tr.tablecell2 {
    background-color: #EAEAEA;
}

table.event-view td {
    border: 1px solid white;
}

table.event-view table td {
    border: 0;
}

.text-button {
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    color:#333;
    background-color: white;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: 1px solid;
    height:32px;
    padding:4px 16px;
    text-decoration:none !important;
}

table.group-list-chooser {
    margin: auto;
    border: none;
}

table.group-list-chooser td{
    border: none;
}

.group-list-chooser td.middle-column{
    width: 100px;
    vertical-align: middle;
}

.group-list-chooser td.middle-column input {
    width: 100px;
    margin-bottom: 3em;
}

.group-list-chooser tr.note {
    text-align: center;
    font-size: 0.9em;
}

/* survey related */
.survey-prompt {
    margin: 1em 1em;
}

.survey-response {
    padding: 1em 1em 2em 2em;
    border-bottom: 1px solid gray;
}

.survey-response textarea {
    width: 50%;
    height: 7em;
}

.survey-response input[type=text] {
    width: 50%;
}

div#answers {
    margin-left: 14em;
}

div#answers input {
    width: 60%;
}

.top-button {
    background:url('/img/icons/top.gif') center left no-repeat;
    padding: 0 0.5em 0 1.5em;
    white-space:nowrap;
}
.up-button {
    background:url('/img/icons/up.gif') center left no-repeat;
    padding: 0 0.5em 0 1.5em;
    white-space:nowrap;
}

.down-button {
    background:url('/img/icons/down.gif') center left no-repeat;
    padding: 0 0.5em 0 1.5em;
    white-space:nowrap;
}

.bottom-button {
    background:url('/img/icons/bottom.gif') center left no-repeat;
    padding: 0 0.5em 0 1.5em;
    white-space:nowrap;
}

/* public */
.small-font {
    font-size: 0.7em;
}

button a:link {
    text-decoration: none;
}

div.help-text {
    margin: 0.5em 0 1em 18em;
    font-size: 0.8em;
    color: gray;
}

form div.input {
    margin: 0.5em 0 0 0;
}

.ipeer-icon {
    background:url('/img/layout/icon_ipeer_logo.gif') center left no-repeat;
    padding: 0 0.5em 0 1.5em;
    white-space:nowrap;
}

.login-footer {
    font-size: 0.8em;
    margin: 0.5em 0 1em 0;
}

.login-footer a {
    text-decoration: none;
    color: black;
}

#cwl-login td {
    background-color: transparent;
}

td.weight1 {
    background-color: #00ff00;
}

td.weight2 {
    background-color: #30ff30;
}

td.weight3 {
    background-color: #60ff60;
}

td.weight4 {
    background-color: #90ff90;
}

td.weight5 {
    background-color: #c0ffc0;
}

td.weight6 {
    background-color: #ffffff;
}

td.weight7 {
    background-color: #ffcfcf;
}

td.weight8 {
    background-color: #ff9f9f;
}

td.weight9 {
    background-color: #ff6f6f;
}

td.weight10 {
    background-color: #ff3f3f;
}

td.weight11 {
    background-color: #ff0f0f;
}
