body {
  @apply bg-[#eee] dark:bg-gray-900;
  @apply text-[#333] dark:text-gray-400;
  @apply text-gray-900 dark:text-white;
}
.containerOuter {
  border-style: solid;
  @apply p-8 lg:p-8 rounded-xl;
  @apply bg-white dark:bg-gray-800;
  @apply border border-[#ccc] dark:border-gray-600;
  box-shadow: 0 0 25px rgba(85, 85, 85, 0.28);
}
.pagewidth {
  @apply max-w-[1000px];
  @apply mx-2 lg:mx-auto mt-2;
}

/* BANNER */
.banner {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  @apply border border-b-0; // border-bottom: none;
  @apply bg-white dark:border-gray-600 dark:bg-gray-800;
}

#bannerLarge {
  height: 40px;
  @apply -m-8;//margin: -2em;
  @apply py-8 px-4;//padding: 2em 1em;
  @apply bg-[#eee] dark:bg-gray-600;
  @apply dark:border-gray-600;

  a {
    @apply text-gray-600;
  }
}

.navigation {
  @apply border-gray-300 dark:border-gray-600;
  @apply bg-white dark:bg-gray-700;

  a {
    //@apply relative block py-2;
    @apply text-gray-900 dark:text-gray-200;
    //@apply text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
    @apply transition-colors duration-200;
  }
}

#customLogo {
  float: right;
  margin-right: 1em;
}

#bannerLogoImgLeft {
  padding-right: 0.5em;
}

#bannerLogoImgRight {
  height: 40px;
}

#ipeerLogo {
  float: left;
  margin-left: 1em;
}

#bannerLogoText {
  font-size: 1em;
  font-weight: 200;
  font-style: italic;

  @apply dark:text-gray-200;
}

#ipeerI {
  font-size: 32px;
  @apply dark:text-gray-200;
}

#ipeerText {
  font-size: 36px;
  @apply dark:text-gray-200;
}

a#home, a#home:hover, a#home:active {
  // text-decoration: none;
  // color: black;
  // background-color: transparent;
}































/* FOOTER */
#footer {
  font-size: 0.72em;
  padding-top: 0.5em;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}