.datatable {
  @apply flex flex-col;
  @apply relative px-8 py-4;

  table {
    //@apply flex-1;
    //@apply md:mx-4;
    @apply w-auto;

    thead th {
      //@apply font-serif;
      //@apply text-center;
      //@apply bg-[#eee] dark:bg-gray-800;
    }
    tbody {
      //@apply bg-[#eee] dark:bg-gray-700;
      //@apply border border-gray-200;
      //@apply text-gray-900 dark:text-gray-50;
    }
  }





  .question {
    @apply -ml-4;
    @apply text-lg font-serif;
  }
  .description {
    @apply text-sm ml-5 mb-2 tracking-wider;
  }
  .standardtable {
    @apply bg-gray-100;
    @apply mx-1;
  }
}
.standardtable {
  width: 100%;
  // border: solid 1px #ccc;
  border-style: solid;
  @apply bg-white dark:bg-gray-800;
  @apply border border-gray-300 dark:border-gray-600;
  border-radius: 5px;
  border-collapse: separate;
  box-shadow: 0 0 25px rgba(85, 85, 85, 0.10);
  margin: 0.5em 0 0.7em;
}

.standardtable th {
  padding: 0.4em 0.1em;
  font-weight: 600;
  font-size: 0.95em;
  @apply font-sans;
  @apply h-8;
  @apply bg-[#ececec] dark:bg-gray-700;
  @apply bg-[#eee] dark:bg-gray-700;
  border-style: solid;
  @apply border-l border-b border-gray-300 dark:border-gray-600;

  > div {
    div, :first-child {
      @apply leading-3;
      @apply text-base;
    }
    small, :last-child {
      @apply text-sm opacity-90;
      @apply leading-4;
    }
  }

}

.standardtable td {
  //border-left: solid 1px #e9e9e9;
  //border-bottom: solid 1px #e9e9e9;
  //background-color: #f9f9f9;
  @apply py-[0.4em] px-[0.1em]; // padding: 0.4em 0.1em;
  @apply text-center; // text-align: center;
  border-style: solid;
  @apply border-l border-b border-gray-300 dark:border-gray-600;
}
.standardtable td.has-error {
  @apply bg-red-50;
}
.standardtable tr th:first-child,
.standardtable tr td:first-child {
  border-left: none;
}
.standardtable tr:last-child td {
  border-bottom: none;
}

.standardtable #details td {
  background-color: #f1f1f1;
}

.standardtable table td {
  border: none;
}

.leftalignedtable th, .leftalignedtable td {
  padding: 0.4em;
  text-align: left;
}

.standardtable tr:first-child th:first-child {
  border-top-left-radius: 4px;
}
.standardtable tr:first-child th:last-child {
  border-top-right-radius: 4px;
}
.standardtable tr:last-child td:first-child, .standardtable thead:only-child tr:last-child th:first-child {
  border-bottom-left-radius: 4px;
}
.standardtable tr:last-child td:last-child, .standardtable thead:only-child tr:last-child th:last-child {
  border-bottom-right-radius: 4px;
}


table.standardtable thead th {
  @apply font-serif font-medium;
  @apply text-lg;
  @apply py-1.5 pl-4;
}
table.standardtable tbody td {
  @apply py-2 px-4;
  @apply relative;

  label.form-check.has-error {
    @apply absolute bottom-0 left-0 top-0 right-0;
    @apply flex justify-center items-center;
    @apply w-auto h-auto;
    @apply bg-red-50;
  }
}

.standardtable {
  &.no-v-line {
    td {
      border-left: none;
    }
  }
}



