@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "base";
@import "animation";
@import "ipeer";
@import "navigation";
@import "button";
@import "table";
@import "form";
@import "tabs";
@import "range_slider";

.debugger {
  display: none;
  @apply hidden;
}

@layer components {
  body {}
  #webapp {}
  section {
    @apply mb-1;
  }
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .page {
    &-container {
      @apply bg-white;
      @apply p-8;
      @apply border border-[#ccc];
      @apply rounded-[10px];
      @apply shadow-2xl; // box-shadow: 0 0 25px rgba(85, 85, 85, 0.28);
    }
    &-width {
      //@apply sm:w-full;
      @apply md:max-w-[1000px];
      @apply mx-auto mt-0 md:mt-2;
    }
    &-title {
      @apply font-serif;
      @apply text-[2.6em];
      @apply font-normal;
    }
  }
  .section {
    &-title {
      @apply font-serif;
      @apply py-[.3em] px-[.5em];
      @apply text-[1.6em];
      @apply font-semibold;
      @apply bg-[#8c629f];
      @apply text-white;
      @apply shadow;
      // box-shadow: 0 0 5px #55555547;
      @apply mb-0;
    }
    &-subtitle {
      @apply flex justify-start items-center;
      @apply pb-1 mb-4;
      // border-bottom-width: 2px;
      border-bottom-style: solid;
      // border-bottom-color: #ecbb06;
      @apply border border-b-2 border-gold-500;
      @apply space-x-2 space-y-2;

      h3 {
        @apply font-serif;
        @apply text-[1.6em];
        @apply font-medium;
      }
    }
  }

  .datatable {
    @apply flex flex-col;
    @apply mt-4 mb-8;

    table {
      @apply flex-1;
      @apply md:mx-4;
      @apply w-auto;

      thead th {
        @apply font-serif;
        @apply text-center;
      }
    }
  }

  .cta {
    @apply flex justify-center items-center space-x-4;
    @apply mt-12 mb-4;
  }

  .button {

    &.btn {
      &-sm {
        @apply py-0 px-1;
      }
      &-md {
        @apply py-1.5 px-4;
      }
      &-lg {
        @apply py-2 px-4;
      }
      &-xl {
        @apply py-3 px-6;
      }
      &-2xl {
        @apply py-4 px-8;
      }
    }

    &.with-icon {
      @apply flex justify-center items-center space-x-2;
      svg {
        @apply -ml-[0.5rem];
      }
    }
  }

  .completed {
    @apply text-blue-500;

    &::after {
      content: "\bb";
      @apply ml-1;
    }

  }

  .quote {
    @apply text-slate-500 font-light tracking-wider;
    &::before {content: ' " '; @apply text-xl font-serif;}
    &::after {content: ' " '; @apply text-xl font-serif;}
  }
}

