.block-slider {
  @apply flex flex-col py-1 mx-2;
  @apply border border-gray-200;
  border-style: solid;
  @apply my-2 mx-auto;
  @apply py-2 px-4;
  @apply bg-gray-50;
}

.form {
  &-group {
    @apply flex flex-col md:flex-row items-center;
    @apply px-4 sm:px-8 md:px-0;

    &.profile {
      .form-input {
        @apply md:max-w-[350px];
      }
    }
  }
  &-label {
    @apply block w-full md:max-w-[200px];
    @apply text-sm text-left md:text-right;
    @apply font-medium;
    @apply mb-2 md:mb-0 md:mr-4;
    &::after {
      content: ":";
    }
  }
  &-control {
    @apply relative;
    @apply block;
    @apply w-full flex flex-col;
    @apply mb-4 md:mb-0;
  }
  &-input,
  &-textarea {
    @apply block;
    @apply text-sm text-slate-700;
    @apply font-light tracking-wider;
    @apply leading-6;
    @apply bg-gray-50;
    @apply py-1.5 px-3;
    @apply rounded;
    @apply outline-none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      @apply border border-gray-500;
    }
  }
  &-input {
    @apply flex-1;
  }

  &-text {
    @apply absolute left-0 -bottom-4;

    &-muted {

    }
  }
}











.form {
  /**
  &-group {
    @apply relative w-[90%] mx-[5%] md:w-full md:mx-0;
    @apply flex-col md:flex-row flex items-center;
    // @apply mb-0 md:mb-5;
  }*/
  /**
  &-control {
    @apply relative w-full;
    // md:max-w-[300px];
    @apply flex;
    @apply mb-4 md:mb-0;
  }*/

  // slider
  &-range {
    @apply relative;

    &-inline {
      >span {
        @apply w-12;
        @apply text-slate-500;
      }
      >input {

      }
    }
    &-label {
      @apply text-sm text-center text-slate-700 leading-3 mb-4 mx-auto;
    }
    .tick {
      @apply w-full bottom-6 absolute;
      &::after {
        content: "|";
        position: absolute;
        transform: translate(-50%,-50%);
        opacity: 0.7;
        @apply text-gray-500;
      }
    }

    &-input {
      //@apply appearance-none;
      @apply h-2 flex-1 bg-blue-100;
      @apply mx-8;
    }
  }
  // checkbox and radio button
  &-check {
    &.centered {
      @apply flex flex-col justify-center items-center;
    }
    &-label {

    }
    &-input {
      width: 1em;
      height: 1em;
      margin-top: .25em;
      @apply appearance-none;
      @apply h-4 w-4 border-2 border-gray-400 bg-gray-50;
      @apply checked:bg-gray-50 checked:border-blue-600 checked:border-4;
      // border-style: solid;
      border: 1px solid rgba(0,0,0,.25);
      @apply focus:outline-none transition duration-200 align-top;
      @apply bg-no-repeat bg-center bg-contain float-left;
      @apply cursor-pointer;
    }
    &-input[type="checkbox"] {
      border-radius: .25em;
    }
    &-input[type="radio"] {
      border-radius: 50%;
    }
    &-input:disabled {
      pointer-events: none;
      filter: none;
      opacity: .5;
    }
    &:checked {
      @apply bg-pink-500;
      @apply border-red-800;
      &[type="checkbox"] {
        @apply bg-teal-500;
      }
      &[type="radio"] {
        @apply bg-teal-500;
      }
    }
    &-inline {
      @apply inline-block;
      @apply mr-8;
      @apply space-x-2;
    }

  }
  // select and options dropdown
  &-select {
    &-label {}
    &-input {
      @apply block;
      @apply w-full;
      @apply py-1.5 pr-10 pl-3;
      -moz-padding-start: calc(0.75rem - 3px);
      @apply text-sm;
      @apply font-normal;
      @apply leading-5;
      @apply text-slate-600;
      @apply bg-white;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: 16px 12px;
      border: 1px solid #ced4da;
      @apply rounded;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &-sm {
        @apply py-1 pl-2;
        @apply text-sm;
      }
      &-lg {
        @apply py-2 pl-4;
        @apply text-base;
      }
      &:disabled {
        @apply text-[#212529];
        @apply bg-[#e9ecef];
        @apply border-[#ced4da];
      }
    }
  }
  // input[type=text]/[type=email]/[type=password], textarea and error message
  &-text {
    @apply block;
    //@apply flex flex-col;
    @apply text-red-700 text-xs text-left;
    @apply m-0;
    @apply ml-1;
    &.text-muted {
      @apply opacity-60;
    }
    //&-group {
    //  @apply relative;
    //  @apply flex flex-col;
    //  @apply md:flex-row md:justify-start md:items-center;
    //  @apply mb-2 md:mb-0;
    //
    //  .form-text-label {
    //    @apply w-full inline-block md:max-w-[200px] align-top;
    //    @apply text-sm text-left md:text-right;
    //    @apply font-medium;
    //    @apply mx-4 mb-1 md:mb-0 md:mr-4;
    //    &::after {
    //      content: ":";
    //    }
    //  }
    //  div {
    //    @apply flex-1;
    //  }
    //  .form-text-input {
    //    @apply flex-1;//  md:w-[360px]
    //    @apply mx-4 md:mx-0;
    //  }
    //  .form-text {
    //    @apply block;
    //    @apply absolute sm:left-3 -bottom-2 md:left-auto md:-bottom-4;
    //  }
    //}

  }
}




input.has-error,
textarea.has-error {
  @apply text-red-500;
  @apply bg-red-50;

  &:focus,
  &.help-message {
    @apply text-red-500;
  }
}
