.form {
  // text, textarea and select
  &-group {
    @apply relative w-[90%] mx-[5%] md:w-full md:mx-0;
    @apply flex-col md:flex-row flex items-center;
    @apply mb-0 md:mb-5;

    &.has-error input {
      // @apply text-xs;
      @apply text-red-500;
      @apply bg-red-50;
    }

    &.has-error input:focus,
    &.has-error .help-message {
      @apply text-red-500;
    }
  }

  &-control {
    @apply relative w-full;
    @apply flex;
    @apply mb-4 md:mb-0;
  }

  &-label {
    @apply block w-full md:max-w-[200px];
    @apply text-sm text-left md:text-right;
    @apply font-normal;
    @apply md:mr-4;
    &::after {
      content: ":";
    }
  }

  &-input {
    @apply block w-full md:max-w-[300px];
    //@apply w-full;
    @apply flex-1;
    @apply py-3 px-2;
    @apply bg-gray-50;
    @apply rounded;
    @apply outline-none;
    @apply m-0;
    @apply border border-gray-100;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

    input:focus {
      @apply border border-gray-500;
    }
  }

  &-text {
    @apply absolute w-full;
    @apply -bottom-4 left-0.5; //bottom: calc(-1.5 * 1em);
    @apply text-red-700 text-xs;
    @apply m-0;
  }

  .text-muted {
    @apply text-slate-500;
  }

  // checkbox and radio
  &-check {

    &-input {}

    &-label {}

  }

}

